main {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

h2 {
  font-size: large;
}

:root {
  height: 100%;
  width: 100%;
}

#map {
  height: 100%;
  width: 100%;
}

.koin-tooltip {
  line-height: 1.2em;
}

.tooltip-pop-num {
  font-size: medium;
}

.search-div {
  display: flex;
  flex-direction: column;
  max-width: 10rem;
  height: 10rem;
}

.search-sel {
  display: none;
  z-index: 808;
}

.search-div:focus-within .search-sel {
  display: block;
}

.search-div:hover .search-sel {
  display: block;
}

.search-sel:focus {
  display: block;
}

input[type="text"] {
  font-size: 16px;
}